# coding=utf-8

API_TOKEN = "YOUR_API_TOKEN"
SERVER_MODE = "sandbox"  # sandbox or production
SC_API_KEY = "SC_API_KEY"
SC_VOUCHER_HASH = []  # لیست کد های تخفیف
GUILD_CODE = "API_GUILD"  # کد صنفی که قصد دارید مبلغ فاکتورهای ایجاد شده به آن واریز شود


""" Test variables """
BUSINESS_ID =   # شناسه کسب و کار شما
DEALER_ID =
AGENT_CELLPHONE_NUMBER = ""      # شماره موبایل نماینده
AGENT_FIRST_NAME = ""
AGENT_LAST_NAME = ""
